# Database Configuration
# DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=disable

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres

# Server Configuration
PORT=8080
